@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Login-Register</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a  asp-action="index" asp-controller="home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">ForgotPassword</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- login wrapper start -->
    <div class="login-register-wrapper section-padding">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="login-reg-form-wrap">
                            <h2>Forgot Password?</h2>
                            <form action="ForgotPassword" method="post">
                                <div class="single-input-item">
                                    <input asp-for="Email" placeholder="Email or Username" required />
                                </div>
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="single-input-item">
                                    <button type="submit" class="btn">Send Reset Link</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- login register wrapper end -->
</main>





