@model AdminAddRoleViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Vertical Form</div>
                        <hr>
                        <form method="post" asp-action="addrole" class="d-flex flex-wrap">

                            <div class="form-group col-lg-6">
                                <label asp-for="UserName">User Name</label>
                                <input asp-for="UserName" class="form-control" placeholder="Enter User Name">
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="FullName">User FullName</label>
                                <input asp-for="FullName" class="form-control" placeholder="Enter User FullName">
                                <span class="text-danger" asp-validation-for="FullName"></span>
                            </div>
                            <div class="form-group col-lg-12">
                                <label asp-for="Email">User Email</label>
                                <input asp-for="Email" class="form-control" placeholder="Enter User Email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                             <div class="form-group col-lg-6">
                                <label asp-for="Password">User Password</label>
                                <input asp-for="Password" class="form-control" placeholder="Enter User Password">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                              <div class="form-group col-lg-6">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm User Password">
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="col-lg-12" asp-validation-summary="ModelOnly"></div>
                            <div class="form-group col-lg-6">
                                <button type="submit" class="btn btn-light px-5">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

    </div>
    <!-- End container-fluid-->

</div><!--End content-wrapper-->